<div class="contact">
  <h1>Get In Touch</h1>
</div>
<div class="form-container">
  <%= button_form_for :contact_form do |f| %>
    <div>
	  <%= f.label :name %><br />
	  <%= f.text_field :name, :required => false %>
	</div>
    <div>
	  <%= f.label :email, "E-mail" %><br />
	  <%= f.text_field :email, :required => false %>
	</div>
    <div>
	  <%= f.label :message %><br />
	  <%= f.text_area :message, :value => "What's on your mind?", :as => :text, :required => false %>
	</div>
	<div><%= f.button "Send your message" %></div>
  <% end %>
</div>

