<div class="header">
	<div class="container">
		<h1 id="name">Brennon Rogers</h1>
		<ul class="nav">
			<li><%= link_to "Welcome", root_path%></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Portfolio</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</div>
</div>
<div class="jumbotron">
	<div class="container">
		<div class="main">
			<h1>Tech Enthusiast, Aspiring Web Developer, BBQ Snob</h1>
        </div>
    </div>
</div>
<div class="footer">
	<div class="container">
		<div class="social">
			<%= link_to image_tag('linkedin1.png'), "https://jp.linkedin.com/in/brennonkrogers", :alt => "LinkedIn", :target => "_blank" %>
			<%= link_to image_tag('facebook3.png'), "https://www.facebook.com/rogersbk", :alt => "Facebook", :target => "_blank" %>
			<%=link_to image_tag('twitter_logo.png'), "https://twitter.com/brennonkrogers", :alt => "Twitter", :target => "_blank" %>
			<%=link_to image_tag('github17.png'), "https://github.com/Cuddlemuffin007", :alt => "GitHub", :target => "_blank" %>
		</div>
		<div class="attributes">Icons made by <a href="http://www.flaticon.com/authors/elegant-themes" title="Elegant Themes">Elegant Themes</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> are licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
	</div>
</div>