<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:500,100,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= favicon_link_tag 'cuddlemuffin.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
	<div class="container">
		<h1 id="name">Brennon Rogers</h1>
		<ul class="nav">
			<li><%= link_to "Welcome", root_path%></li>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Portfolio", portfolio_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
		</ul>
	</div>
</div>

<%= yield %>

<div class="footer">
	
		<div class="social">
			<%= link_to image_tag('linkedin1.png'), "https://jp.linkedin.com/in/brennonkrogers", :alt => "LinkedIn", :target => "_blank" %>
			<%= link_to image_tag('facebook3.png'), "https://www.facebook.com/rogersbk", :alt => "Facebook", :target => "_blank" %>
			<%=link_to image_tag('twitter_logo.png'), "https://twitter.com/brennonkrogers", :alt => "Twitter", :target => "_blank" %>
			<%=link_to image_tag('github17.png'), "https://github.com/Cuddlemuffin007", :alt => "GitHub", :target => "_blank" %>
		</div>
		<div class="attributes">Icons made by <a href="http://www.flaticon.com/authors/elegant-themes" title="Elegant Themes">Elegant Themes</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> are licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
	
</div>
</body>
</html>
